div.keyboard-shortcut-block  img {
    width: auto;
    max-width: 75%;
    min-width: 150px;
    margin: 1% auto;
    min-height:350px;
    max-height:350px;
}
div.container.text-center img {
    min-height: 450px;
}
p {
    text-align: left;
    margin: 2%;
}
h4 {
    margin-top: 4%;
}