header {
    margin-bottom: 10px !important;
}
/*положение области левой кнопки*/
.carousel-control-prev {
    left: 6%;
}
/*положение области правой кнопки*/
.carousel-control-next {
    right: 6%;
}

/*левая кнопка карусели */
.carousel-control-prev-icon {
    background-image: url("../../src/images/left-arrow.png");
    background-size: 50%;

}
/*правая кнопка карусели */
.carousel-control-next-icon {
    background-image: url("../../src/images/right-arrow.png");
    background-size: 50%;
}
/*выравнивание div.card по div.d-block.w-100*/
.d-block.w-100 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-img-top {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.hide {
    display: none;
}

/*заголовок cлайдов (h3)*/
h3 {
    margin-bottom: 10%;
}
/*профиль*/
.profile_indentation {
    width: 44px;
    margin-left: 5px;
    margin-right: 25px;
    --bs-btn-padding-x:'';
    border-color: transparent!important;
}

div.offcanvas {
    border: 0 solid gray !important;
}

/* кнопки */
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 0, 0, 0;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
/*кнопка поиска*/
.btn-outline-success {
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 0, 0, 0;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}
