header {
    margin-bottom: 10px !important;
}

/* положение области левой кнопки */
.carousel-control-prev {
    left: 6%;
}

/* положение области правой кнопки */
.carousel-control-next {
    right: 6%;
}

/* левая кнопка карусели */
.carousel-control-prev-icon {
    background-image: url("../images/garbage/left-arrow.png");
    background-size: 50%;

}

/* правая кнопка карусели */
.carousel-control-next-icon {
    background-image: url("../images/garbage/right-arrow.png");
    background-size: 50%;
}

/* выравнивание div.card по div.d-block.w-100 */
.d-block.w-100 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-img-top {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.hide {
    display: none;
}

#h-space {
    height: 50px;
}

/*заголовок cлайдов (h3)*/
h3 {
    margin-bottom: 10%;
}

.profile {
    width: 44px;
    margin-left: 5px;
    margin-right: 25px;
    padding: 0;
    border-color: transparent !important;
}

/*для transferring_files*/

ol.meterial-block li {
    margin: 2% 0;
}
/*картинки общее*/
div.keyboard-shortcut-block img {
    width: 100%;
    margin: 1% auto;
    min-height: 350px;
    max-height: 350px;
}
/*для списка в карточке инфо*/
div.bd-callout.bd-callout-info ol > li{
    margin-bottom: 0.8%;
}

/*для кнопок перехода на сл. страницу*/
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/*вопросы*/
.form-check {
    margin: 0.3% 0;
}
/*кнопки*/
#btn-task-check {
    padding: 0.7%;
    margin-top: 1%;
    margin-bottom: 2%;
}

#createPageButton {
    margin:  0.2% 0;
    display: block;
}



/*зеленая карточка*/
.bd-callout-green {
    --bd-callout-color: #6ef67d;
    --bd-callout-bg: #03300d;
    --bd-callout-border: #089011;
}

/*красная карточка*/
.bd-callout-red {
    --bd-callout-color: #f66e6e;
    --bd-callout-bg: #490a0d;
    --bd-callout-border: #990404;
}

/*синея карточка*/
.bd-callout-info {
    --bd-callout-color: #6edff6;
    --bd-callout-bg: #032830;
    --bd-callout-border: #087990;
}

/*желтая карточка*/
.bd-callout-warning {
    --bd-callout-color: #ffda6a;
    --bd-callout-bg: #332701;
    --bd-callout-border: #997404;
}



/*применение карточки*/
.bd-callout {
    --bs-link-color-rgb: 110, 168, 254;
    --bs-code-color: #e685b5;
    padding: 1.25rem;
    margin-top: 1.20rem;
    margin-bottom: 1.20rem;
    border-radius: 0 10px 10px 10px;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg);
    border-left: 0.25rem solid var(--bd-callout-border);
}

