header {
    margin-bottom: 10px !important;
}
/* положение области левой кнопки */
.carousel-control-prev {
    left: 6%;
}
/* положение области правой кнопки */
.carousel-control-next {
    right: 6%;
}

/* левая кнопка карусели */
.carousel-control-prev-icon {
    background-image: url("../../src/images/left-arrow.png");
    background-size: 50%;

}
/* правая кнопка карусели */
.carousel-control-next-icon {
    background-image: url("../../src/images/right-arrow.png");
    background-size: 50%;
}
/* выравнивание div.card по div.d-block.w-100 */
.d-block.w-100 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-img-top {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.hide {
    display: none;
}

#h-space {
    height: 50px;
}

/*заголовок cлайдов (h3)*/
h3 {
    margin-bottom: 10%;
}

.profile {
    width: 44px;
    margin-left: 5px;
    margin-right: 25px;
    padding: 0;
    border-color: transparent!important;
}

/*для transferring_files*/

ol.meterial-block li {
    margin: 2% 0;
}

/**/
.bd-callout-red {
    --bd-callout-color: rgb(227, 38, 89) ;
    --bd-callout-bg: rgb(73,0, 5);
    --bd-callout-border: rgb(79, 0, 20);
}

.bd-callout-info {
    --bd-callout-color: #6edff6;
    --bd-callout-bg: #032830;
    --bd-callout-border: #087990;
}
.bd-callout {
    --bs-link-color-rgb: 110, 168, 254;
    --bs-code-color: #e685b5;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg);
    border-left: 0.25rem solid var(--bd-callout-border);
}