h1 {
    margin: 3%;
}

p, h1, h2, h3, h4, h5, h6, li {
    text-align: justify;
}

.text {
    font-size: 18px;
}

/* боковые отступы */
.container-material {
    max-width: 900px;
    margin: 0 auto;
}
